<div class="fourcol last" id="newbuttons">
   <ul class="editbuttonslist">
    <li class="neweditbutton" title="Start again" id="removeall">RS</li>
    <li class="neweditbutton" title="Remove last marker" id="removelastmarker" >-M</li>
	<li class="neweditbutton" title="Remove last waypoint" id="removelastline">-W</li>
</ul>

</div>