<div class="fourcol last" id="newbuttons">
   
    <span class="neweditbutton" title="Start again" id="removeall">RS</span>
	<span class="neweditbutton" title="Remove last marker" id="removelastmarker" >-P</span>
	<span class="neweditbutton" title="Remove last waypoint" id="removelastline">-W</span>

</div>