
<div class="row">

<% if (fav) { %>
         <div class="fourcol subtitle" id="result"><p><b>This route is in your favourites</b></p></div>
         <div class="fourcol"></div>
         <div class="fourcol last" id="distance"><p><b><%= jsonobj.distance %> km</b></p></div>

<% } else { %>
        <div class="fourcol subtitle" id="favourite"><p id="result">Favourite this route</p></div>
        <div class"fourcol"></div>
        <div class="fourcol last" id="distance"><p><b>Distance: <%= jsonobj.distance %> km</b></p></div>
<% } %>

</div>