

<div class="eightcol">
                <div class="findaroute"><span style="padding-right: 10px">Start a route <span id="geolocate">near me</span> or route near</span><input class="newinput" id="userlocation"><input class="newbutton" id="userlocationsubmit" type="submit" value="Enter"></div>
              </div>

<div class="fourcol last" id="newbuttons">
                <span class="neweditbutton" title="Start again" id="removeall">RS</span>
				<span class="neweditbutton" title="Remove last marker" id="removelastmarker" >-P</span>
				<span class="neweditbutton" title="Remove last waypoint" id="removelastline">-W</span>
</div>


