

<div class="eightcol">
    <div class="findaroute"><span style="padding-right: 10px">Start a route <span id="geolocate">near me</span> or route near</span><input class="newinput" id="userlocation"><input class="newbutton" id="userlocationsubmit" type="submit" value="Enter"></div>
</div>




