


<div class="row">

<% if (favourite) { %>
         <div class="fourcol" id="result"><p><b>This route is in your favourites</b></p></div>
         <div class="fourcol"></div>
         <div class="fourcol last" id="distance"></div>

<% } else { %>
        <div class="fourcol" id="favourite"><p id="result">Favourite this route</p></div>
        <div class"fourcol"></div>
        <div class="fourcol last" id="distance"></div>
<% } %>

</div>