<div id="footer"> 
 		<span id="nodejitsulogo">
		  	<a href="http://www.nodejitsu.com"><img src="/images/logotype-poweredby.png" alt="Powered by the kind people at Nodejitsu"></a>
		  </span>
</div>

