

<div class="eightcol">
                <div class="findaroute"><span style="padding-right: 10px">Find a route <span id="geolocate">near me</span> or near</span><input class="newinput" id="userlocation"><input class="newbutton" id="userlocationsubmit" type="submit" value="Enter"></div>
</div>

