<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>
<script type="text/javascript">
   var pictures = [];
   // We call .transloadit() after the DOM is initialized:
   $(document).ready(function() {
     $('#MyForm').transloadit({
        wait: true,
        autoSubmit: false,
        modal: false,
        onProgress: function(bytesReceived, bytesExpected){
          $('#progress').text((bytesReceived / bytesExpected * 100).toFixed(2)+'%');
        },
        onSuccess: function(assembly){
          var thumburl = assembly.results.thumb[0].url;
          var mainurl = assembly.results[':original'][0].url;
          $('#thumb').append("<a href=" + mainurl + ">" + "<img src=" + thumburl + "></a>");
          var picUrls = {};
          picUrls['thumburl'] = thumburl;
          picUrls['mainurl'] = mainurl;
          pictures.push(picUrls)
        }
     });
  });
</script>
<div>
<form id="MyForm" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
<input style="display:none" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;b9eeea1eb0b645fb98f17e07504483d2&quot;},&quot;template_id&quot;:&quot;bd52d2da4b20473fbc34a0349e6c55f8&quot;,&quot;redirect_url&quot;:&quot;http://localhost:3000/postupload&quot;}" />
<input type="file" name="my_file" />
<input type="submit" value="Upload" id="photoUpload">
</form>
</div>
<div id="progress"></div>
<div id="thumb"></div>