<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
<title>Wanders</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS
  ================================================== -->
    
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">

<!--jQuery -->
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>


</head>
    <body>
       
<div id="maincontainer">
    <div id="header"><p><a href="/">Wanders</a></p></div>
    <div id="miniheader"></div>
    <div id="body"> 
      <div id="container">
       <div class="row"> 
           <div class="twelvecol">
              <div id="userinformation">
                  <p>Username: <%= user._id %></p>
                  <p>Email: <%= user.password %></p>         
              </div>
           </div>
        </div>
      </div>
  <div class="clearfooter"></div> 
</div>
    <div id="footer"></div>
</div>
</body>
</html>
<script>


</script>